:host div {
  min-height: 100%;
  width: 100%;
}

header .github-button {
  border-color: rgba(27,31,35,.15);
  background-color: #e9ebef;
  background-image: linear-gradient(180deg, #f3f4f6, #e9ebef 90%);
  color: black !important;
  font-size: 12px;
  line-height: 26px;
  margin-left: 8px;

  .mat-icon {
    font-size: 18px;
    height: 16px;
    width: 16px;

    line-height: 14px;
    margin-right: 2px;
  }

  &.star {
    padding: 0 4px 0 0;
  }
  &.discussions {
    padding: 0 10px 0 8px;

    .mat-icon {
      font-size: 16px;
    }
  }
}

main {
  padding: 20px 0;
}

footer .mat-toolbar {
  font-size: 80%;
  height: 42px;
  line-height: 42px;
  padding-left: 10px;
}
