<div class="d-flex flex-column">
  <header>
    <mat-toolbar color="primary">
      <button mat-icon-button aria-label="Built with passion!">
        <mat-icon>auto_awesome_mosaic</mat-icon>
      </button>
      <span>{{ heading }}</span>
    </mat-toolbar>
  </header>

  <main class="container flex-fill">
    <ng-content></ng-content>
  </main>

  <footer>
    <mat-toolbar>
      <div class="d-flex align-items-center">
        <a class="badge" target="_blank" href="https://www.npmjs.com/package/@myndpm/dyn-forms">
          <img src="https://img.shields.io/badge/%40myndpm-dyn--forms-lightgrey" alt="Package at NPM" />
        </a>

        <a class="badge" target="_blank" href="https://github.com/Mynd-Management/open-source/tree/master/libs/forms">
          <img src="https://img.shields.io/badge/source-code-lightgrey" alt="Source Code" />
        </a>

        <a class="badge" target="_blank" href="https://prezi.com/view/4Ok1bgCWvf0g26FMVwfx/">
          <img src="https://img.shields.io/badge/prezi-ntation-lightgrey" alt="Prezi" />
        </a>
      </div>
      <span>{{ ngVersion }}</span>
    </mat-toolbar>
  </footer>
</div>
