<app-layout heading="Simple Dynamic Form">
  <form [formGroup]="form">

    <!-- DYNAMIC FORM STARTS HERE -->
    <dyn-form
      [config]="config"
      [form]="form"
      [mode]="mode"
    ></dyn-form>
    <!-- DYNAMIC FORM ENDS HERE -->

    <div class="form-actions">
      <button type="button" mat-raised-button color="primary" (click)="toggleMode()">
        {{ mode === 'edit' ? 'Switch to Display mode' : 'Back to Edit mode' }}
      </button>

      <button type="button" mat-raised-button color="accent" (click)="loadData()">
        Load Data
      </button>
    </div>
  </form>
</app-layout>
